<h1>Articles Index page</h1>

<% @articles.each_with_index do |article,index| %>
    <%= article.id  %> <%= ' - ' %>
    <%= article.title%> <br/>
    <%= article.category.name %><br/>
    <%= link_to 'show', article_path(article) %>
    <% if user_signed_in? && article.user == current_user %>
      <%= link_to 'edit', edit_article_path(article) %>
      <%= link_to "Delete", article , method: :delete, data: { confirm: "sure?" } %><br/>
    <% end %><br/>  

<% end %><br/>

<%= link_to 'New Article',  new_article_path %>
