<h1>Category Index Page </h1>

<% @categories.each_with_index do |category,index| %>
  <%= index+1 %>)
  <b>ID: </b> <%= category.id %> <br/> 
  <b> Genre: </b> <%= link_to category.name, category_path(category)%><br/>  
  <b> articles in this genre: </b> <%= category.articles.count %><br/>
  

  

  <% if can? :manage, @category %>
    <%= link_to 'Delete', category , method: :delete, data: { confirm: 'sure?' } %>
    <%= link_to 'Edit', category_edit_path(category) %>  
  <% end %><br/>

<% end %>
<% if can? :manage, @category %>
  <%#= link_to 'Delete', category , method: :delete, data: { confirm: 'sure?' } %>
  <%= link_to 'Add Category', category_new_path %><br/>
<% end %>