<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div align=right>
      <% if user_signed_in? %>
        <% if can? :manage, Category%>
          <%= link_to 'Add Category', category_new_path  %>
        <% end %>
         Welcome <b><%= current_user.username %></b>
        <%= link_to 'Log-Out', destroy_user_session_path, method: :delete %>
         
      <% else %>
    
        <%= link_to 'Sign_in', new_user_session_path %>
      <% end %>
    </div>
        <%= yield %>
    </div>
  </body>
</html>
